STAGE=dev

DB_PASSWORD=MySecretPassword
DB_NAME=TestShopDB
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres

JWT_SECRET=secret_key_for_jwt

HOST_API=http://localhost:3000/api
PORT=3000


API_URL=http://localhost:3000/api
FRONTEND_URL=http://localhost:5173/#/

# Cloudinary configuration
CLOUDINARY_URL=cloudinary://272568838416453:kP1Drusen6b4gfpXsstUpkAQuCI@drhk7ng4v
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

#Email Resend
RESEND_API_KEY=re_xxxxxxxxxxxx
MAIL_FROM=onboarding@resend.dev
RESEND_WEBHOOK_SECRET=whsec_xxxxxxxxxxxxxxxx